body{
	margin: 0px;
	padding: 0px;
	background-color: #f0f2f5;
}
.container{
	width: 25%;
	margin:auto;
}
.text{
	color: #fff;
	letter-spacing: 1px;
	margin:10px;
}

.title{
	text-transform: capitalize;
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	margin:20px;
	border:solid 1px #a49999;
	padding: 19px;
	text-align: center;
	border: #dddfe2;

}
.box{
	border:solid 1px #a49999;
	border: #dddfe2;
	margin: -115px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.form-control
{
	width: 310px;
	height: 30px;
	display: block;
	margin-bottom: 12px;
}
.btn-primary
{
	width: 320px;
	height: 30px;
	border: 0;
	margin-left: 0px;
	color: #fff;
	background: #0195F7;
	margin-top: 8px;
}

.login{
	width: 310px;
	height: 30px;
	border: 0;
	margin: -20px;
	color: #fff;
	background-color: #0195F7;
	margin-top: 14px;	

}
form .option{
	color: #5a5a5a;
	margin: 0px 0;
	font-weight: bold;
	position: relative;
}
form .option:before{
	position: absolute;
	content: '';
	width: 140px;
	height: 2px;
	background: #b6b6b6;
	right: 60px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50px;
}
form .option:after{
	position: absolute;
	content: '';
	width: 140px;
	height: 2px;
	background: #b6b6b6;
	left: 60px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50px;
}
.wrapper a{
	color: #1E8DD5;
	

}
.link a{
	color: #1E8DD5;
	font-style: bold;
	margin-left: 185px;
	padding-bottom: -4px;
}
p {
	margin: -18px;
	margin-top: 5px;

}

.login a{
	margin-top: 3px;
}